@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: local(''),
       url('./www/wannkiffgras.de/fonts/montserrat-v25-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('./www/wannkiffgras.de/fonts/montserrat-v25-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}


html,
body {
  margin: 0;
  min-height: 100%;
}

body {
  background-image: url("./img/marijuana.jpg");
  backdrop-filter: blur(10px);
  color: white;
  font-family: "Montserrat", sans-serif;
  padding: 0 0.5rem;
}

h1 {
  font-size: 4rem;
}

.hidden {
  display: none;
}

.button {
  background-color: #ffec01;
  font-size: 1.2rem;
  border: 0px;
  border-radius: 14px;
  font-weight: bold;
  padding: 1rem;
  cursor: pointer;
}

.button:hover {
  background-color: #e5007e;
}

.main-wrapper {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.button-answer-box {
  height: 8rem;
}

.answer {
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 14px;
  padding: 0.4rem;
  font-size: 2rem;
  font-weight: bold;
}

.answer-image {
  height: 14rem;
}

.text {
  margin-bottom: 1rem;
}
